## Analyze Twitch Gaming Data

Twitch is the world’s leading live streaming platform for gamers, with 15 million daily active users. Using data to understand its users and products is one of the main responsibilities of the Twitch Science Team.

In this project, we will be working with two tables that contain Twitch users’ stream viewing data and chat room usage data.

Stream viewing data:

- `stream` table

Chat usage data:

- `chat` table

### Getting Started:

Start by getting a feel for the stream table and the chat table.

What are the column names?

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
stream = pd.read_csv('video_play.csv')
chat = pd.read_csv('chat.csv')

In [3]:
stream.head()

,time,device_id,login,channel,country,player,game,stream_format,subscriber
0,2015-01-01 18:33:52,40ffc2fa6534cf760becbdbf5311e31ad069e46e,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends,NaN,NaN
1,2015-01-01 23:35:33,9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760,5ad49a7b408ce452140b180dd6efb57a9f4d22c7,george,US,site,DayZ,chunked,False
2,2015-01-01 04:39:38,2f9c3f9ee1033b71a3819564243f20ef3bec0183,5b9a43e68f019185f55615d0b83019dee4b5d06f,frank,US,site,League of Legends,chunked,False
3,2015-01-01 11:15:30,0cda8226ba2583424c80c3c1c22c1256b080ad17,02c7797faa4d8a3ff4b0c14ee1764b6817b53d0b,estelle,CH,site,Dota 2,high,False
4,2015-01-01 11:28:19,e3288ca5e3153aa85e32f64cdd994b7666968dcf,b920c228acbcbebee26d9c79f6eb73b73a9480c7,morty,FR,site,Heroes of the Storm,medium,False

In [4]:
chat.head()

,time,device_id,login,channel,country,player,game
0,2015-01-01 18:45:50,70e2b95b5ac0d4c227e46966658d16b3e044996e,5c2f5c1f19a7738e16ed0be551d865e8a8fce71d,jerry,BY,NaN,Dota 2
1,2015-01-01 01:16:57,f2b9065b55fd80d6aa653ce989b489f4ec5198be,0d77740e4fb5ce77d94f9f6c8ef1f762990d0344,elaine,HK,NaN,Devil May Cry 4: Special Edition
2,2015-01-01 16:22:10,d448ba963d7e1023dd1b0a40b95d4f6611750692,77ab14c1fb815e1c369ba0cf7d4c56b4fe489997,frank,GB,iphone_t,League of Legends
3,2015-01-01 03:58:13,8d6823dc52b400b50aebf269bf1f03a36d19eeaa,91cb88c0743761589273fc5e800e7743ece46494,frank,US,iphone_t,League of Legends
4,2015-01-01 11:47:35,16c1e39594d62358d27ae604ad43a071f0d86bc4,51a9234f83d656607cfd7f26690c12d2ffbce353,estelle,DE,NaN,Dota 2

What are the unique games in the stream table?

In [5]:
stream['game'].unique

<bound method Series.unique of 0                       League of Legends
1                                    DayZ
2                       League of Legends
3                                  Dota 2
4                     Heroes of the Storm
                       ...
526294    Hearthstone: Heroes of Warcraft
526295      The Binding of Isaac: Rebirth
526296                  League of Legends
526297                  League of Legends
526298                               DayZ
Name: game, Length: 526299, dtype: object>

What are the unique channels in the stream table?

In [6]:
chat['game'].unique

<bound method Series.unique of 0                                   Dota 2
1         Devil May Cry 4: Special Edition
2                        League of Legends
3                        League of Legends
4                                   Dota 2
                        ...
148557                      World of Tanks
148558                      World of Tanks
148559                                DayZ
148560                                DayZ
148561                 Heroes of the Storm
Name: game, Length: 148562, dtype: object>

### Aggregate Functions:

What are the most popular games in the `stream` table?

Create a list of games and their number of viewers using `GROUP BY`.

In [7]:
game_count = stream.groupby(['game'])['game'].count()
game_count.sort_values(ascending=False)

game
League of Legends                   193533
Dota 2                               85608
Counter-Strike: Global Offensive     54438
DayZ                                 38004
Heroes of the Storm                  35310
The Binding of Isaac: Rebirth        29467
Gaming Talk Shows                    28115
World of Tanks                       15932
Hearthstone: Heroes of Warcraft      14399
Agar.io                              11480
Rocket League                         7087
ARK: Survival Evolved                 4158
SpeedRunners                          3367
Duck Game                             1063
Fallout 3                              485
Devil May Cry 4: Special Edition       231
Breaking Point                         161
Batman: Arkham Knight                  117
Reign Of Kings                          50
The Witcher 3: Wild Hunt                45
Block N Load                            34
Depth                                   27
Mortal Kombat X                         22
H1Z1                                     7
Super Mario Bros.                        6
Grand Theft Auto V                       5
Music                                    4
The Elder Scrolls V: Skyrim              3
The Last of Us                           3
Risk of Rain                             2
Senran Kagura: Estival Versus            2
Lucius                                   1
Blackjack                                1
Hektor                                   1
Bridge Constructor Medieval              1
Super Mario Bros. 3                      1
Besiege                                  1
The Sims 4                               1
Choice Chamber                           1
Cities: Skylines                         1
You Must Build A Boat                    1
Name: game, dtype: int64

These are some big numbers from the game League of Legends (also known as LoL).

Where are these LoL stream viewers located? Create a list of countries and their number of LoL viewers using WHERE and GROUP BY.

In [8]:
Game_LOL = stream[stream.game == 'League of Legends']
country_count = Game_LOL.groupby(['country'])['country'].count()
country_count.sort_values(ascending=False)

country
US    85606
CA    13034
DE    10835
GB     6964
TR     4412
      ...
AD        1
SN        1
SM        1
GY        1
A1        1
Name: country, Length: 155, dtype: int64

The player column contains the source the user is using to view the stream (site, iphone, android, etc).

Create a list of players and their number of streamers.

In [9]:
player_count = stream.groupby(['player'])['player'].count()
player_count.sort_values(ascending=False)

player
site             246115
iphone_t         100689
android           93508
ipad_t            53646
embed             19819
xbox_one           4863
home               3479
frontpage          1567
amazon             1155
xbox360             985
roku                233
chromecast          149
facebook             83
nvidia shield         3
ouya                  3
android_pip           2
Name: player, dtype: int64

### How does view count change in the course of a day?

Before we get started, let’s run this query and take a look at the time column from the stream table:

`SELECT time FROM stream LIMIT 10;`

The data type of the time column is DATETIME. It is for storing a date/time value in the database.

Notice that the values are formatted like:

`2015-01-01 18:33:52`

So the format is:

`YYYY-MM-DD HH:MM:SS`

In [13]:
stream['time'].head()

0    2015-01-01 18:33:52
1    2015-01-01 23:35:33
2    2015-01-01 04:39:38
3    2015-01-01 11:15:30
4    2015-01-01 11:28:19
Name: time, dtype: object